<div class="jumbotron text-center">
  <div class="container">
    <h1>Home</h1>
    <p>
      our courses her click on show event to see it !
    </p>
    <a href="/event" class="btn btn-success">Show Events</a>
  </div>
</div>
